:root {
  --primary-font-color: #333333;
  --secondary-font-text: #7C7C7C;
  --app-background: #f7f7f7;
  --color-btn-primary: #FFFFFF;
  --bg-btn-primary: #333333;
  --color-btn-secondary: #4F4F4F;
  --color-btn-secondary-inactive: #BDBDBD;
  --success-color: #0C797A;
  --bg-image-color: #F2F2F2;
  --bg-btn-secondary: none;
  --border-primary-color: #828282
}