.citate {
  position: relative;

  &__icon {
    background: url("../../icons/quotes.svg");
    height: 191px;
    width: 232px;
    position: absolute;
    top: 0;
    right: calc(50% - 116px);
    z-index: -1;
  }

  &__text {
    max-width: 786px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: var(--primary-font-color);

  }
  &__img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__author {
    &-name {
      font-size: 16px;
      line-height: 27px;
      color: var(--primary-font-color);
    }

    &-position {
      font-size: 12px;
      line-height: 120%;
      color: var(--secondary-font-text);
    }
  }
}